@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --orange-color: hsl(30, 90%, 53%);
    --light-green-color: hsl(99, 80%, 58%);
    --red-color: hsl(0, 85%, 57%);
    --light-red-color: hsl(0, 95%, 69%);
    --text-color: hsl(0, 21%, 10%);
    --bg-color: #fff;
}

section {
    padding: 4.5rem 0 1.5rem;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.6s;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--red-color);
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.navbar a:hover,
.navbar .home-active {
    background: var(--orange-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.container {
    position: relative;
    width: 90%;
    min-height: 700px;
    display: flex;
    align-items: center;
    background: url(Images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container img {
    width: 400px;
    position: absolute;
    bottom: 300px;
    right: 200px;
    mix-blend-mode: darken;
}

.home-text {
    margin: 150px 0 0 150px;
}

.home-text span {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--orange-color);
}

.home-text h1 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.6rem 1rem;
    background: var(--orange-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    max-width: 160px;
}

.btn .bx {
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover {
    background: var(--light-green-color);
    transition: 0.3s ease;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--orange-color);
}

.categories {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.categories-container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background-color: #fff;
}

.categories-container .box img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    object-position: center;
}

.categories-container .box h2 {
    font-size: 1rem;
    font-weight: 600;
}

.categories-container .box span {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.categories-container .box .bx {
    padding: 10px;
    background: var(--orange-color);
    color: var(--bg-color);
    border-radius: 5rem;
    margin-top: 2rem;
    position: absolute;
    bottom: -10%;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.categories-container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    background-color: #f2b57f;
    border-color: rgba(0, 0, 0, 0.1);
}

.categories-container .box:hover .bx {
    display: block;
    opacity: 1;
}

.categories-container .box:hover .bx:hover {
    background-color: #ff0000;
    transform: scale(1.1);
}

.products {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.products .heading {
    padding-left: 10px;
    padding-right: 10px;
}

.products-container {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.products-container .box {
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products-container .box:hover {
    transform: translateY(-10px);
    box-shadow: 1px 4px 15px 6px rgb(14 55 54 / 25%);
}

.products-container .box img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.products-container .box span {
    font-weight: 500;
    font-size: 13px;
}

.products-container .box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.products-container .box .price {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    color: var(--light-red-color);
}

.products-container .box .price span {
    color: var(--text-color);
}

.products-container .box .bx-cart-alt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: var(--orange-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
    transition: background 0.2s ease;
}

.products-container .box .bx-cart-alt:hover {
    background: var(--red-color);
}

.products-container .box .bx-heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    color: var(--light-red-color);
}

.products-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 0;
    background: var(--light-red-color);
    color: var(--bg-color);
    padding: 4px 18px;
    clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
}

.about {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.about-text span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange-color);
}

.about-text p {
    margin: 0.5rem 0 1rem;
}

.customers {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--bg-color);
}

.customer-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.customer-container .box {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.customer-container .box .bx {
    font-size: 24px;
    color: var(--orange-color);
}

.customer-container .box .stars .bx {
    font-size: 1rem;
    color: var(--light-green-color);
}

.customer-container .box p {
    font-size: 0.938rem;
}

.stars i {
    color: var(--orange-color);
}

.review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
    height: 50%;
}

.review-profile img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.review-profile h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.footer {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #fef4ea;
    border-radius: 0.5rem;
    padding: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx {
    padding: 10px;
    background: var(--bg-color);
    color: var(--orange-color);
    border-radius: 5rem;
    font-size: 20px;
}

.social .bx:hover {
    background: var(--orange-color);
    color: var(--bg-color);
    transition: 0.3s all linear;
}

.footer-box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-box a {
    color: #868a92;
    margin-bottom: 1rem;
}

.footer-box a:hover {
    color: var(--light-green-color);
}

.footer-box form {
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-box form input {
    background: transparent;
    border: none;
    outline: none;
}

.footer-box form .bx {
    font-size: 20px;
    color: var(--light-green-color);
    cursor: pointer;
}

.footer-box form .bxs-envelope {
    color: var(--orange-color);
}

.copyright {
    text-align: center;
    padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 992px) {
    header {
        padding: 20px 30px;
    }
    .navbar {
        display: none;
    }
    #menu-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    header {
        padding: 20px 20px;
    }
    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .home-text {
        margin: 20px 0 0;
    }
    .home-text h1 {
        font-size: 2rem;
    }
    .home-text span {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    header {
        padding: 20px 10px;
    }
    .container {
        width: 100%;
        padding: 20px 10px;
    }
    .home-text {
        margin: 10px 0 0;
    }
    .home-text h1 {
        font-size: 1.8rem;
    }
    .home-text span {
        font-size: 0.8rem;
    }
    .btn {
        max-width: 120px;
    }
    .products-container .box {
        padding: 10px;
    }
    .products-container .box img {
        height: 150px;
    }
    .products-container .box h2 {
        font-size: 1rem;
    }
}
.navbar {
    display: flex;
    column-gap: 0.5rem;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
}

.navbar.active {
    max-height: 500px;
}

@media (min-width: 992px) {
    .navbar {
        display: flex !important;
        flex-direction: row;
        max-height: none;
    }
}
#newsletterForm button.btn {
    background: var(--orange-color);
    color: var(--bg-color);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

#newsletterForm button.btn:hover {
    transform: translateY(-3px);
    background: var(--light-green-color);
}



